body {
  overflow-x:  hidden;
}

div .navbar-outer {
  padding-block: 0px;
}

.navbar-cont {
  background: #282c34;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  margin: 0px;
  padding-inline: 5px;
  height: 3.5em;
  align-items: center;
}

.Nav {
  max-width: fit-content;
}

Nav .nav-link {
  color: white;
  border: 0px;
  border-style: solid;
  border-bottom-color: #282c34;
  border-bottom-width: 2px;
  transition: border-bottom-width 0.5s, border-bottom-color 0.5s;
  transition-timing-function: ease-in;
}

Nav .nav-link:hover {
  border-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: green;
  cursor: pointer;
}